<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="https://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "57393d71-2ddc-4686-8bd0-79f5cadfbc66", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<div style="padding-bottom:30px;text-align:right;">
<span class='st_fblike_vcount' displayText='Facebook Like'></span>
<span class='st_plusone_vcount' displayText='Google +1'></span>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 하단1 -->
<ins class="adsbygoogle"
          style="display:inline-block;width:728px;height:90px"
               data-ad-client="ca-pub-6886369875827453"
                    data-ad-slot="9841344320"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% if site.comments.disqus.short_name != empty %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    {% if site.safe == false %}var disqus_developer = 1;{% endif %}
    var disqus_shortname = '{{site.comments.disqus.short_name}}'; // required: replace example with your forum shortname
    {% if page.wordpress_id %}var disqus_identifier = '{{page.wordpress_id}} {{site.production_url}}/?p={{page.wordpress_id}}';{% endif %}
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="https://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}
