<p><img src="{{ site.baseurl }}/icon/logo.jpg" width="50" height="50" style="margin-left:5px;margin-right:10px;"> QGP9 </p>
<p>
<a href="{{ site.baseurl }}/rss.xml"><img src="{{ site.baseurl }}/icon/rss.png"> RSS</a>
</p>
<p>
<a href="https://www.vultr.com/?ref=8968322-8H"><img src="https://www.vultr.com/media/300x250_01.gif" width="300" height="250"></a>
</p>
{% if site.twitterid != emtpy %}
<p><a href="https://twitter.com/{{ site.twitterid }}" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true" data-dnt="true" data-size="large">Follow @{{ site.twitterid }}</a></p>
{% endif %}

{% if page.facebook_post %}
<h3 class="secton-header">FACEBOOK</h3>
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="{{page.facebook_post}}&amp;pnref=story" data-width="200"></div>
{% endif %}

<h3> Recent Comments </h3>
<div id="RecentComments" class="dsq-widget">
  <script type="text/javascript" src="https://qgp9.disqus.com/recent_comments_widget.js?num_items=5&hide_mods=0&hide_avatars=0&avatar_size=32&excerpt_length=30"></script>
</div>

